# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Local env files
*.local
.env
.env.*

# Editor / OS noise
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs/
*.log
npm-debug.log*
